@page "/"

<PageTitle>Index</PageTitle>

<h1>This is a header.</h1>
<p>
    This is the view of Assignment 1 - 2 - 3 of DNP 2022 <br/>
    Made by Anca, Lorant, Fanni, Wojtek and Vlad.
</p>

<p>
    <img src="/images/HomePicture.jpg" alt="loading image..." class="fit"/>
</p>